<html>
<head>
    <style>
    body {
        font-family: Arial, sans-serif;
    }
    #header {
        text-align: center;
    }
    #login {
        text-align: right;
        color: gray;
    }
    </style>
</head>

<body>
    <p id = login> {{ login_message }} </p>
    <h1 id = "header"> User Profile </h1>
    <h2 id = "header"> Email: {{email}}, Age: {{age}}, Zipcode: {{zipcode}} </h2>
    
    
    <br></br>
    
    <h2 id = "header"> <u>These are the movies I've watched:</u> </h2>
    
    {% for rating in ratings | sort(attribute = 'rating', reverse=True) %}
    <center><p><h3> {{rating.movie.name}}</h3> Rating {% for i in range (0, rating.rating) %}
     <img src= "/static/star.gif" height = "15" width = "15"> {% endfor %}
    </p></center>
    {% endfor %}

</body>
</html>

    <!--{% for user in users %}
    <h2> User {{ user.id }}, age {{ user.age }}, has {{ user.ratings|length }} ratings</h2>
    {% endfor %} -->